<tui-theme-night />

<tui-root tuiMode="onDark">
  <main class="main">
    <div class="content">
      <div class="left-side">
        <router-outlet />
      </div>

      <div class="divider" role="separator" aria-label="Divider"></div>

      <div class="right-side">
        <div class="pill-group">
          <a class="pill"
            routerLink="/"
          >
            Route 1
          </a>

          <a class="pill"
             routerLink="/route-2"
          >
            Route 2
          </a>
        </div>
      </div>
    </div>
  </main>
</tui-root>
