<div style="width: 100%" [formGroup]="formGroup">
  <tui-input class="w-100"
   tuiHintContent="Hi!"
   tuiTextfieldSize="l"
   formControlName="test"
  >
    I am label 2

    @if (required) {
      <span class="required-asterix">*</span>
    }
  </tui-input>

  <tui-input class="w-100"
             tuiHintContent="Hi!"
             tuiTextfieldSize="l"
             formControlName="test"
  >
    I am label

    @if (required) {
      <span class="required-asterix">*</span>
    }
  </tui-input>

  <tui-input class="w-100"
             tuiHintContent="Hi!"
             tuiTextfieldSize="l"
             formControlName="test"
  >
    I am label

    @if (required) {
      <span class="required-asterix">*</span>
    }
  </tui-input>

  <tui-input class="w-100"
             tuiHintContent="Hi!"
             tuiTextfieldSize="l"
             formControlName="test"
  >
    I am label

    @if (required) {
      <span class="required-asterix">*</span>
    }
  </tui-input>
  <tui-input class="w-100"
             tuiHintContent="Hi!"
             tuiTextfieldSize="l"
             formControlName="test"
  >
    I am label

    @if (required) {
      <span class="required-asterix">*</span>
    }
  </tui-input>
  <tui-input class="w-100"
             tuiHintContent="Hi!"
             tuiTextfieldSize="l"
             formControlName="test"
  >
    I am label

    @if (required) {
      <span class="required-asterix">*</span>
    }
  </tui-input>
  <tui-input class="w-100"
             tuiHintContent="Hi!"
             tuiTextfieldSize="l"
             formControlName="test"
  >
    I am label

    @if (required) {
      <span class="required-asterix">*</span>
    }
  </tui-input>
  <tui-input class="w-100"
             tuiHintContent="Hi!"
             tuiTextfieldSize="l"
             formControlName="test"
  >
    I am label

    @if (required) {
      <span class="required-asterix">*</span>
    }
  </tui-input>
</div>
